<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
    不同Mapper文件的namespace要為唯一值
    在程式中通過[ namespace + id ]定位到要執行哪一條SQL
 -->
<mapper namespace="com.JamesCode.my_shopee.mapper.LoginMapper">
    <!--
        不同Mapper文件的namespace要為唯一值
        在程式中通過[ namespace + id ]定位到要執行哪一條SQL
     -->
    <select id="checkAC" resultType="java.util.HashMap">
        SELECT
        *
        FROM
        users
        where
        username = #{s_username};
    </select>
    <select id="checkPW" resultType="java.util.HashMap">
        SELECT
        *
        FROM
        users
        where
        password = #{s_password};
    </select>
    <select id="checkmail" resultType="java.util.HashMap">
        SELECT
        *
        FROM
        users
        where
        mail = #{s_mail};
    </select>

    <insert id="sign_up" >
        insert into users (
        username, password, mail, enabled
        )
        values
        (
        TRIM(#{s_username}),
        TRIM(concat('{noop}',#{s_password})),
        TRIM(#{s_mail}),
        '1'
        )
    </insert>

    <insert id="add_auth" >
        insert into authorities (
        username, authority
        )
        values
        (
        TRIM(#{s_username}),
        'ROLE_USER'
        )
    </insert>

    <select id="getPW" resultType="java.util.HashMap">
        select
        substring(password, 7) PW
        from
        users
        where
        mail = #{f_mail}
        and username = #{f_username}
        and enabled = '1'
    </select>
</mapper>