<!DOCTYPE html>
<html lang="en">
<html
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Comatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <title>myWebsite</title>

    <link rel="stylesheet" href="css/style.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
<!--Header-->
<header>
    <div class="nav container">
        <a href="#" class="logo">Ecommerce</a>
        <form th:action="@{logout}" method="POST">
            <input type="submit" value="Logout"/>
        </form>
        <form id="setting_form" th:action="@{SettingPage}" method="POST" style="display: block;">
            <input type="submit" value="TO Setting"/>
        </form>
        <form th:action="@{OrdersPage}" method="POST">
            <input type="submit" value="Orders"/>
        </form>

        <input type="hidden" id="role" th:value="${ROLE}" />
        <input type="hidden" id="uid" th:value="${UserId}" />

        <i class='bx bx-cart' id="cart-icon"></i>

        <!--cart-->
        <div class="cart">
            <h2 class="cart-title">My Cart</h2>
            <!--Content-->
            <div class="cart-content">
                <div th:if="${Cart != null}" th:each="Cart : ${Cart}" class="cart-box">
                    <input type="hidden" class="id" th:value="${Cart.id}" />
                    <img th:src="${Cart.src}" alt="" class="cart-img">
                    <div class="detail-box">
                        <div th:text="${Cart.name}" class="cart-product-title"></div>
                        <div th:text="${Cart.cost}" class="cart-price"></div>
                        <input th:value="${Cart.num}" type="number" class="cart-quantity">
                    </div>
                    <i class="bx bxs-trash-alt cart-remove"></i>
                </div>
                <div th:unless="${Cart != null}">
                    No items in the cart.
                </div>
            </div>

            <!--Total-->
            <div id="cart-footer">
                <div th:if="${Cart != null}">
                    <div class="total">
                        <div class="total-title">Total</div>
                        <div th:text="${Cart[0].total}" class="total-price"></div>
                    </div>
                    <!--Buy Button-->
                    <button type="button" id="btn-buy" class="btn-buy">Buy Now</button>
                    <!--            Cart Close-->
                </div>
            </div>
            <i class="bx bx-x" id="close-cart"></i>

        </div>
    </div>
</header>

<!--Shop-->
<section class="shop container">
    <h2 class="section-title">Shop Products</h2>
    <!--    content-->
    <div class="shop-content">
        <div th:each="product : ${products}" class="product-box">
            <input type="hidden" class="id" th:value="${product.id}" />
            <img th:src="${product.src}" alt="" class="product-img">
            <h2 th:text="${product.name}" class="product-title"></h2>
            <span th:if="${product.R_price == product.cost}" th:text="${product.cost}" class="price"></span>
            <span th:if="${product.R_price != product.cost}" th:text="${product.cost}" class="price" style="text-decoration: line-through" yle></span>
            <span th:if="${product.R_price != product.cost}" th:text="${product.R_price}" class="price"></span>
            <i class="bx bx-shopping-bag add-cart"></i>
        </span>
    </div>
</section>
<!--JS-->
<script src="js/main.js"></script>

</body>