<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Comatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <title>myWebsite</title>

    <link rel="stylesheet" href="css/setting.css">
    <link rel="stylesheet" href="css/style.css">

    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

    <script>
        async function showForm(formId,json = "") {
            var forms = document.querySelectorAll('.custom-form');
            forms.forEach(function(form) {
                form.style.display = 'none';
            });

            var selectedForm = document.getElementById(formId);
            selectedForm.style.display = 'block';

            var apiUrl = getUrlByformId(formId,json);

            console.log("formId: ",formId);
            console.log("json: ",json);
            console.log("apiUrl: ",apiUrl);

            callAPI(apiUrl, 'GET')
                .then(data => {
                    setdata2form(formId,data);
                })
                .catch(error => {
                    console.error('[ERROR] Error in callAPI:', error);
                });

        }

        function cleanform(formId){
            const columnA = ["ID","Name","PW","Status_Enable","Mail"];
            const columnB = ["ID_P","Category","Name_P","Cost","num","imageInput","src","onsale_Y"];
            const columnC = ["NO","Date_Time_S","Date_Time_E","amount","status"];

            switch(formId){
                case 'formA':
                    clean(columnA);
                    break;
                case 'formB':
                    clean(columnB);
                    break;
                case 'formC':
                    clean(columnC);
                    break;
            }
            return;
        }

        function getUrlByformId(formId,json = ""){
            var currentUrl = window.location.href;
            var apiUrl;

            //切換api
            switch(formId){
                case 'formA':{
                    apiUrl = currentUrl + '/Member';
                    break;
                }
                case 'formB':{
                    apiUrl = currentUrl + '/Product';
                    break;
                }
                case 'formC':{
                    apiUrl = currentUrl + '/Record';
                    break;
                }
            }
            return makeURL(apiUrl,json);
        }

        //組成table
        function setdata2form(formId,data){

            const columnA = ["#","Name","PW","Status","Mail"];
            const columnB = ["#","Category","Name","Price","Num","onsale","src"];
            const columnC = ["#","NO","Date_Time","amount","status"];

            const columnMapA = ["ID","USERNAME","PASSWORD","STATUS","MAIL"];
            const columnMapB = ["ID","CATEGORY","NAME","COST","NUM","ONSALE","SRC"];
            const columnMapC = ["PKNO","NO","DT","amount","value"];
            var columnMap =[];
            var table;


            //切換table
            switch(formId){
                case 'formA':{
                    table = document.getElementById("tableA");
                    columnMap = columnMapA;
                    break;
                }
                case 'formB':{
                    table = document.getElementById("tableB");
                    columnMap = columnMapB;
                    break;
                }
                case 'formC':{
                    table = document.getElementById("tableC");
                    columnMap = columnMapC;
                    break;
                }
            }

            console.log("table: ",table);

            //清空tbody
            var tbody = table.querySelector("tbody");

            if(tbody != null){
                while (tbody.firstChild) {
                  tbody.removeChild(tbody.firstChild);
                }
            }

            //組成tbody
            for (var i=0;i<data.length;i++){
                var trRow = document.createElement("tr");
                for (var col in columnMap){

                    var tdCell = document.createElement("td");
                    var colname = columnMap[col];
                    tdCell.textContent = data[i][colname];
                    trRow.appendChild(tdCell);
                }
                tbody.appendChild(trRow);
            }
            table.appendChild(tbody);
        }

<!--         Button Hide-->
        function change_status(button) {
            var status = button.innerHTML;
            var table_id = button.id + "_table";
            var form = document.getElementById(table_id);
            if(status == 'SHOW'){
                button.innerHTML = 'HIDE';
                form.style.display = 'block';
            } else{
                button.innerHTML = 'SHOW';
                form.style.display = 'none';
            }
        }

        function processQuery_M(){
            var param = {};
            var list = ['ID','Name','PW','Mail','Status_Enable'];

            param = getHTMLdata(list);
            var jsonParam = JSON.stringify(param);

            showForm('formA',jsonParam);
            return;
        }

        function processEdit_M(){

            var param = {};
            var list = ['ID','Name','PW','Mail','Status_Enable'];

            param = getHTMLdata(list);

            var jsonParam = JSON.stringify(param);

            var currentUrl = window.location.href;
            var encodedJson = encodeURIComponent(jsonParam);

            var apiUrl = currentUrl + '/Member?json=' + encodedJson;

            callAPI(apiUrl, 'PUT')
                .then(data => {
                    showForm('formA');
                })
                .catch(error => {
                    console.error('[ERROR] Error in callAPI:', error);
                });

            return;
        }

        function processFIND_P(){
            var param = {};
            var list = ['ID_P'];
            param = getHTMLdata(list);

            if(param.ID_P == ''){
                alert("Type something!!");
                return ;
            }
            var currentUrl = window.location.href;
            var jsonParam = JSON.stringify(param);
            var encodedJson = encodeURIComponent(jsonParam);
            var apiUrl = currentUrl + '/Find_P?json=' + encodedJson;

            callAPI(apiUrl, 'GET')
                .then(data => {
                    console.log("find data: ",data);
                    document.getElementById("Category").value=data[0].CATEGORY;
                    document.getElementById("Name_P").value=data[0].NAME;
                    document.getElementById("Cost").value=data[0].COST;
                    document.getElementById("num").value=data[0].NUM;
                    document.getElementById("src").value=data[0].SRC;

                    var rad = document.getElementsByName('onsale');
                    if(data[0].ONSALE == 'Y'){
                        rad[0].checked = true;
                    }else{
                        rad[1].checked = true;
                    }

                })
                .catch(error => {
                    console.error('[ERROR] Error in callAPI:', error);

                    alert("ID NOT EXIST !!");
                    document.getElementById("Category").value="";
                    document.getElementById("Name_P").value="";
                    document.getElementById("Cost").value="";
                    document.getElementById("num").value="";
                    document.getElementById("src").value="";
                    document.getElementsByName('onsale').checked = true;
                });
            return;
        }

        function processADD_P(){

            var param = {};

            //轉大寫
            var Category = document.getElementById('Category').value;
            document.getElementById('Category').value = Category.toUpperCase();
            var Name_P = document.getElementById('Name_P').value;
            document.getElementById('Name_P').value = Name_P.toUpperCase();

            var list = ['ID_P','Category','Name_P','Cost','num','onsale_Y','src'];
            param = getHTMLdata(list);

            // for file
            const imageInput = document.getElementById('imageInput');
            const selectedImage = imageInput.files[0];
            const formDataToSend = new FormData();
            formDataToSend.append('file', selectedImage);

            formDataToSend.append('jsonData', JSON.stringify(param));
            var currentUrl = window.location.href;
            var apiUrl = currentUrl + '/Product';

            fetch(apiUrl, {
                method: 'POST',
                body: formDataToSend,
            })
            .then(response => response.json())
            .then(data => {
                showForm('formB');
                alert("Success");
            })
            .catch(error => {
                console.error('[ERROR] Error in fetch:', error);
                alert("Fail");
            });
        }

        function processQuery_P(){
            var param = {};
            var list = ['ID_P','Category','Name_P','Cost','num','onsale_Y','src'];
            param = getHTMLdata(list);

            var jsonParam = JSON.stringify(param);
            showForm('formB',jsonParam);
            return;
        }

        function processEdit_P(){
            var param = {};
            var list = ['ID_P','Category','Name_P','Cost','num','onsale_Y','src'];

            //轉大寫
            var Category = document.getElementById('Category').value;
            document.getElementById('Category').value = Category.toUpperCase();
            var Name_P = document.getElementById('Name_P').value;
            document.getElementById('Name_P').value = Name_P.toUpperCase();

            param = getHTMLdata(list);

            // for file
            const imageInput = document.getElementById('imageInput');
            const selectedImage = imageInput.files[0];
            const formDataToSend = new FormData();
            formDataToSend.append('file', selectedImage);

            formDataToSend.append('json', JSON.stringify(param));
            var currentUrl = window.location.href;
            var apiUrl = currentUrl + '/Product';

            fetch(apiUrl, {
                method: 'PUT',
                body: formDataToSend
            })
            .then(data => {
                console.log("success!!");
                alert("Success!!");
                showForm('formB');
            })
            .catch(error => {
                alert("Fail !!");
                console.error('[ERROR] Error in fetch:', error);
            });

        }

        function processDel_P(){
            var param = {};
            var list = ['ID_P'];
            param = getHTMLdata(list);

            var currentUrl = window.location.href;
            var jsonParam = JSON.stringify(param);
            var encodedJson = encodeURIComponent(jsonParam);
            var apiUrl = currentUrl + '/Product?json=' + encodedJson;

            callAPI(apiUrl, 'DELETE')
                .then(data => {
                    showForm('formB');
                    alert("Success");
                })
                .catch(error => {
                    console.error('[ERROR] Error in callAPI:', error);
                    alert("Fail");
                });
        }

        function buildsrc_P(){

        }

        function processQuery_R(){
            var param = {};
            var list = ['NO','Date_Time_S','Date_Time_E','amount','status'];
            param = getHTMLdata(list);

            var jsonParam = JSON.stringify(param);
            showForm('formC',jsonParam);
            return;
        }

        function processSave_R(){
            var param = {};
            var list = ['NO','status'];
            param = getHTMLdata(list);

            if(param.NO ==''){
                alert("Order_NO cant be empty!");
                return;
            }
            if(param.status ==''){
                alert("Status cant be ALL!");
                return;
            }

            var currentUrl = window.location.href;
            var jsonParam = JSON.stringify(param);
            var encodedJson = encodeURIComponent(jsonParam);
            var apiUrl = currentUrl + '/Record?json=' + encodedJson;

            callAPI(apiUrl, 'PUT')
                .then(data => {
                    showForm('formC');
                    alert("Success");
                })
                .catch(error => {
                    console.error('[ERROR] Error in callAPI:', error);
                    alert("Fail");
                });
        }
    </script>
</head>

<body>

<!-- Header -->
<header style="position: sticky; top: 0; z-index: 100;">
    <div class="nav container">
        <div class="left-part">
            <a href="/" class="logo">Ecommerce</a>
        </div>
        <div class="middle-part">
            <form th:action="@{logout}" method="POST">
                <input type="submit" value="Logout"/>
            </form>
        </div>
        <div class="right-part">
            <button class="btn btn-primary" onclick="showForm('formA'); cleanform('formA');">Member</button>
            <button class="btn btn-primary" onclick="showForm('formB'); cleanform('formB');">Product</button>
            <button class="btn btn-primary" onclick="showForm('formC'); cleanform('formC');">Records</button>
        </div>
    </div>
</header>

<!-- Form A -->
<div id="formA" class="custom-form" style="display: none;">
    <!--    table-->
    <form id="member_table" class="container">
        <div class="row mb-3">
            <label for="ID" class="col-sm-2 col-form-label">ID*</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="ID">
            </div>
        </div>
        <div class="row mb-3">
            <label for="Name" class="col-sm-2 col-form-label">Name</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="Name">
            </div>
        </div>
        <div class="row mb-3">
            <label for="PW" class="col-sm-2 col-form-label">Password</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="PW">
            </div>
        </div>
        <div class="row mb-3">
            <label for="Mail" class="col-sm-2 col-form-label">Mail</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="Mail">
            </div>
        </div>
        <fieldset class="row mb-3">
            <legend class="col-form-label col-sm-2 pt-0">Status</legend>
            <div class="col-sm-6">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="Status" id="Status_Enable" value="1" checked>
                    <label class="form-check-label" for="Status_Enable">
                        Enable
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="Status" id="Status_Disable" value="0">
                    <label class="form-check-label" for="Status_Disable">
                        Disable
                    </label>
                </div>
            </div>
            <div class="col-sm-4">
                <input type="button" class="btn btn-info" onclick="processQuery_M()" id="Query_M" value="Query">
                <input type="button" class="btn btn-info" onclick="processEdit_M()" id="Edit_M" value="Edit">
            </div>
        </fieldset>
    </form>
    <!--    button-->
    <div class="container">
        <button class="btn btn-info" onclick="change_status(this)" id="member">HIDE</button>
    </div>
    <!--data-->
    <form>
        <table id="tableA" class="table container">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">PW</th>
                <th scope="col">Status</th>
                <th scope="col">Mail</th>
            </tr>
            </thead>
            <tbody>
            </tbody>

        </table>
    </form>
</div>

<!-- Form B -->
<div id="formB" class="custom-form" style="display: none;">

    <!--    table-->
    <form id="product_table" class="container">
        <div class="row mb-3">
            <label for="ID_P" class="col-sm-2 col-form-label">ID*</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="ID_P" style="width: 200px; display: inline;">
                <input type="button" class="btn btn-info" onclick="processFIND_P()" id="FIND" value="Find">
            </div>
        </div>
        <div class="row mb-3">
            <label for="Category" class="col-sm-2 col-form-label">Category</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="Category">
            </div>
        </div>
        <div class="row mb-3">
            <label for="Name_P" class="col-sm-2 col-form-label">Name</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="Name_P">
            </div>
        </div>
        <div class="row mb-3">
            <label for="Cost" class="col-sm-2 col-form-label">Price</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="Cost">
            </div>
        </div>
        <div class="row mb-3">
            <label for="num" class="col-sm-2 col-form-label">num</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="num">
            </div>
        </div>
        <div class="row mb-3">
            <label class="col-sm-2 col-form-label">jpg</label>
            <div class="col-sm-10">
                <input type="file" id="imageInput" accept=".jpg, .jpeg" />
            </div>
        </div>
        <div class="row mb-3">
            <label class="col-sm-2 col-form-label">src</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="src" readonly>
            </div>
        </div>
        <fieldset class="row mb-3">
            <legend class="col-form-label col-sm-2 pt-0">onsale</legend>
            <div class="col-sm-6">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="onsale" id="onsale_Y" value="Y" checked>
                    <label class="form-check-label" for="onsale_Y">
                        YYY
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="onsale" id="onsale_N" value="N">
                    <label class="form-check-label" for="onsale_N">
                        NNN
                    </label>
                </div>
            </div>
            <div class="col-sm-4">
                <input type="button" class="btn btn-info" onclick="processADD_P()" id="ADD_P" value="ADD">
                <input type="button" class="btn btn-info" onclick="processQuery_P()" id="Query_P" value="Query">
                <input type="button" class="btn btn-info" onclick="processEdit_P()" id="Edit_P" value="Edit">
                <input type="button" class="btn btn-info" onclick="processDel_P()" id="Del_P" value="Delete">
            </div>
        </fieldset>
    </form>

    <!--    button-->
    <div class="container">
        <button class="btn btn-info" onclick="change_status(this)" id="product">HIDE</button>
    </div>

    <form>
        <table id="tableB" class="table container">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Category</th>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col">Num</th>
                <th scope="col">onsale</th>
                <th scope="col">src</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </form>
</div>

<!-- Form C -->
<div id="formC" class="custom-form" style="display: none;">
    <form id="order_table" class="container">
        <div class="row mb-3">
            <label for="NO" class="col-sm-2 col-form-label">Order_NO</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="NO" style="width: 200px;">
            </div>
        </div>
        <div class="row mb-3">
            <label for="Date_Time_S" class="col-sm-2 col-form-label">Date_Time</label>
            <div class="col-sm-10" >
                <input type="text" class="form-control" id="Date_Time_S" style="width: 200px; display: inline;">  ~
                <input type="text" class="form-control" id="Date_Time_E" style="width: 200px; display: inline;">
            </div>
        </div>
        <div class="row mb-3">
            <label for="amount" class="col-sm-2 col-form-label">Amount</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="amount" style="width: 200px;">
            </div>
        </div>
        <div class="row mb-3">
            <label for="Amount" class="col-sm-2 col-form-label">Status</label>
            <select name="status" id="status" class="col-sm-2 col-form-label">
                <option value="">ALL</option>
                <option value="0">0_Paying</option>
                <option value="1">1_Have paid</option>
                <option value="2">2_Delivery</option>
                <option value="3">3_Arrival</option>
                <option value="4">4_Complete</option>
                <option value="-4">-4_Cancel</option>
            </select>
        </div>
        <div class="row mb-3">
            <label class="col-sm-2 col-form-label"></label>
            <div class="col-sm-4">
                <input type="button" class="btn btn-info" onclick="processQuery_R()" id="Query_R" value="Query">
                <input type="button" class="btn btn-info" onclick="processSave_R()" id="Save_R" value="Save">
            </div>
        </div>
    </form>
    <!--    button-->
    <div class="container">
        <button class="btn btn-info" onclick="change_status(this)" id="order">HIDE</button>
    </div>
    <!--data-->
    <form id="order_data" class="container">
        <table id="tableC" class="table container">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">NO</th>
                <th scope="col">Date_Time</th>
                <th scope="col">Amount</th>
                <th scope="col">Status</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </form>
</div>

<script src="js/common.js"></script>

</body>
</html>
